{% extends 'base.html.twig' %}

{% block title %}GeekGarage | Home{% endblock %}

{% block body %}

    <h1 class="my-5 text-center">Choisir son centre</h1>
    <div id="map" class="mx-auto"> </div>

{% endblock %}
