        <!-- Footer Section -->
        <footer class="footer_1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-sm-6 col-md-5">
                        <aside class="widget aboutwidget">
                            <a href="#" class="logo"><img src="images/logo.svg" alt="logo onlineformapro"></a>
                            <p>
                                Lauréate du concours « Entreprises innovantes » dès sa création en 1999, Onlineformapro s’est rapidement imposée comme le leader de la solution globale digital learning.
                                Onlineformapro accélère la mutation de la formation via des solutions innovantes et adaptées à vos besoins.
                            </p>
                        </aside>
                    </div>
                    <div class="col-lg-4 col-sm-4 col-md-4">
                        <aside class="widget contact_widgets">
                            <h3 class="widget_title">contact</h3>
                            <p>
                                Onlineformapro
                                <br>
                                Espace de la Motte
                                <br>
                                70000 VESOUL
                            </p>
                            <p>Tel: +33 (0)3 84 76 52 44</p>
                            <p>Web: <a href="https://www.onlineformapro.com/" target="_blanck">onlineformapro.com</a></p>
                        </aside>
                    </div>
                    <div class="col-lg-3 col-sm-2 col-md-3">
                        <aside class="widget social_widget">
                            <h3 class="widget_title">social</h3>
                            <ul>
                                <li><a href="https://twitter.com/onlineformapro" target="_blanck"><i class="fa fa-twitter"></i>Twitter</a></li>
                                <li><a href="https://fr-fr.facebook.com/Onlineformapro/" target="_blanck"><i class="fa fa-facebook-square"></i>Facebook</a></li>
                                <li><a href="https://www.youtube.com/channel/UCRZBTZ99D86i6xEfvXP90_w" target="_blanck"><i class="fa fa-youtube-play"></i>Youtube</a></li>
                            </ul>
                        </aside>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer Section -->

