{% extends 'base.html.twig' %}

{% block title %}Hello MapController!{% endblock %}

{% block body %}
    <h1 class="my-5 text-center">OpenStreetMap Carte Intégration</h1>
    <div id="map" class="mx-auto"> </div>
{% endblock %}
