{% extends 'base.html.twig' %}

{% block title %}Dashboard Admin{% endblock %}

{% block body %}
    {% set route = app.request.attributes.get('_route') %}
    <div class="container">
        <div class="text-center">
            {% if route == 'app_map_edit' %}
                <h1>Editer le centre</h1>
            {% else %}
                <h1>Ajouter un centre</h1>
            {% endif %}
        </div>
        <div class="col-6 mx-auto my-5">
            <div class="card rounded shadow p-3">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <div class="d-grid gap-2 mt-4">
                {% if route == 'app_map_edit' %}
                    <button type="submit" class="btn btn-outline-danger mt-3" formnovalidate>Modifier</button>
                {% else %}
                    <button type="submit" class="btn btn-outline-danger  mt-3" formnovalidate>Ajouter le centre</button>
                {% endif %}
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}
