 //@import "~bootstrap/scss/bootstrap";
// @import'./font/KELMSCOT.TTF';
/*----------------------------------------------------
/ 1. Map and Popup
------------------------------------------------------*/
#map {
  width: 100%;
  height: 400px;
}

html {
  scroll-behavior: smooth;
}

.online {
  width: 80px;
}

.btn-danger {
  color: #fff;
  background-color: #D31E44 !important;
  border-color: #D31E44 !important;
}

.btn-danger:hover {
  color: #D31E44  !important;
  background-color: white !important;
  border-color: #D31E44 !important;
}

.alert{
  opacity: 1 !important;
}

.logo img{
  width:  100px !important;
  padding-bottom: 0px !important;
}

.logo2 img{
  width:  150px !important;
}

.card-desc{
  color:white;
  margin-top: 20px;
}

.singlefolio img{
  height: 240px !important;
}

#service{
  height: 20px;
}

#contact{
  height: 20px;
}

/*login*/


.bg-img:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
  text-align: center;
  padding: 60px 32px;
  max-width: 370px;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.04);
  box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.75);
}
.content header {
  color: white;
  font-size: 33px;
  font-weight: 600;
  margin: 0 0 35px 0;
  font-family: "Montserrat", sans-serif;
}
.field {
  position: relative;
  border-radius: 10px;
  height: 45px;
  width: 100%;
  display: flex;
  background: rgba(255, 255, 255, 0.94);
}
.field span {
  color: #222;
  width: 40px;
  line-height: 45px;
}
.field input {
  height: 100%;
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: #222;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}
.space {
  margin-top: 16px;
}
.show {
  right: 13px;
  font-size: 13px;
  font-weight: 700;
  color: #222;
  display: none;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}
.pass-key:valid ~ .show {
  display: block;
}
.pass {
  text-align: left;
  margin: 25px 0;
}
.pass a {
  color: white;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
.pass:hover a {
  text-decoration: underline;
}
.field input[type="submit"] {
  background: #D31E44;
  border: 1px solid #D31E44;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}
.field input[type="submit"]:hover {
  background: white;
  color: #D31E44;
  border: 1px solid #D31E44;
}
.login {
  color: white;
  margin: 20px 0;
  font-family: "Poppins", sans-serif;
}
.links {
  display: flex;
  cursor: pointer;
  color: white;
  margin: 0 0 20px 0;
}

